@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-header {
  background-color: #0c0c0c;
}
  
.container-svg-header {
  padding: 15px;
}

.container-svg-header svg {
  transition: transform 0.3s ease; /* Transición para la rotación */
  cursor: pointer;
}

.container-svg-header.open svg {
  transform: rotate(90deg); /* Rotación cuando el menú está abierto */
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0);
  transition: width 0.3s ease;
  z-index: 999;
  overflow-x: hidden;
  justify-content: space-between;
}

.menu.open {
  width: 100%; 
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1.2px solid #292D32;
}

.profile {
  display: flex;
}
.profile .profile-svg {
  margin-right: 5px;
}
.profile .profile-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile .profile-data .profile-data_name {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.profile .profile-data .profile-data_watch {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #b4b4b4;
}

.menu-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.menu-content .menu-content_elements {
  font-size: 2.3rem;
  font-weight: 700;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
.menu-content .menu-content_elements li{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.menu-content .menu-content_elements li svg{
  margin-right: 5px;
}

.menu-content {
  flex-grow: 1;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center; 
}

a {
  text-decoration: none;
}

.container-header .container-svg-header svg {
  cursor: pointer;
}

.menu .menu-container .close-menu {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile svg {
    width: 80px;
    height: 80px;
  }
  .profile .profile-data .profile-data_name {
    font-size: 2.8rem;
  }
  .profile .profile-data .profile-data_watch {
    font-size: 1.8rem;
  }

  .menu-container .close-menu {
    width: 45px;
    height: 45px;
  }

  .menu-content .menu-content_elements {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .container-header .container-svg-header svg{
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 1024px ) {
  .menu.open {
    width: 600px;
  }
}